* {
    box-sizing: border-box;
}

body {
    background-color: rgb(31 57 77);
    margin: 0;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
}

button {
    cursor: pointer;
}

button:active {
    transform: scale(0.95);
}

input:focus {
    outline: none;
}

header {
    background-image: url('lyrics.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: rgb(28 173 148 / 81%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 0px 100px 0px;
    position: relative;
    font-size: 1.5em;
}

header::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

header * {
    z-index: 1;
}

header h1 {
    margin: 0 0 40px;
    text-shadow: rgb(143 42 103 / 64%) 2px 1p;
}

form {
    position: relative;
    width: 500px;
    max-width: 100%;
}

form input {
    border: 0;
    border-radius: 50px;
    font-size: 16px;
    padding: 15px 30px;
    width: 100%;
}

form button {
    position: absolute;
    top: -30px;
    right: -40px;
    background-color: rgb(202, 194, 205);
    border: 0;
    border-radius: 50%;
    color: #fff;
    font-size: 30px;
    padding: 20px;
    box-shadow: 0 0 10px 1px white;
}

.btn {
    background-color: rgb(199, 199, 199);
    border: none;
    font-size: large;
    font-weight: 600;
    color: black;
    padding: 4px 10px;
}

ul.songs {
    list-style-type: none;
    padding: 0;
}

ul.songs li {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
}

.container {
    margin: 30px auto;
    max-width: 100%;
    width: 30%;
}

.container h2, .container span {
    display: flex;
    text-align: center;
    justify-content: center;
}
